{% extends "includes/header.html" %}
{% load static %}
{% block content %}
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css">
<style>
    body {
        padding: 5%; /* Add padding to the entire website */
    }
    table {
        width: 100%;
        table-layout: fixed;
        white-space: nowrap;
        overflow: auto;
        border-collapse: collapse;
    }
    table td {
        text-align: center;
        vertical-align: middle;
        padding: 10px;
    }
    table-container {
        width: 100%;
        overflow-x: auto;
    }

    /* CSS for the confirmation modal */
    .modal {
        display: none;
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, 0.7);
    }

    .modal-content {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        background-color: white;
        padding: 20px;
        text-align: center;
    }
</style>

<script>
    var csrftoken = getCookie('csrftoken');  // Get the CSRF token

    function getCookie(name) {
        var cookieValue = null;
        if (document.cookie && document.cookie !== '') {
            var cookies = document.cookie.split(';');
            for (var i = 0; i < cookies.length; i++) {
                var cookie = cookies[i].trim();
                // Does this cookie string begin with the name we want?
                if (cookie.substring(0, name.length + 1) === (name + '=')) {
                    cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                    break;
                }
            }
        }
        return cookieValue;
    }
</script>
<h1>Your Favorite Products</h1>
<div id="sum-display">
    <br><br>
    <h3>Total Selected Price: <span id="total-price">₱0.00</span></h3>
    <table>
        <tr>
            <th>Puregold Total Selected Price</th>
            <th>ShopMetro Total Selected Price</th>
            <th>WalterMart Total Selected Price</th>
        </tr>
        <tr>
            <td id="column-sum-puregold">₱0.00</td>
            <td id="column-sum-shopmetro">₱0.00</td>
            <td id="column-sum-waltermart">₱0.00</td>
        </tr>
    </table>
    <br><br>
    <button id="print-button">Print to PDF</button>
    <!-- Add the "Clear List" button and confirmation modal -->
    <button id="clear-list-button" class="modal-button">Clear List <i class="fa fa-trash"></i></button>
    <br><br>
</div>

<!-- Modal for Delete Confirmation -->
<div id="confirmation-modal" class="modal">
    <div class="modal-content">
        <p>Are you sure you want to remove this item from your shopping list?</p>
        <button id="cancel-button" class="modal-button">Cancel</button>
        <button id="confirm-button" class="modal-button">Confirm</button>
    </div>
</div>

<!-- Modal for Clear List Confirmation -->
<div id="clear-list-modal" class="modal">
    <div class="modal-content">
        <p>Are you sure you want to clear your shopping list?</p>
        <button id="clear-list-cancel-button" class="modal-button">Cancel</button>
        <button id="clear-list-confirm-button" class="modal-button">Confirm</button>
    </div>
</div>


<table>
    <tr>
        <th>Image</th>
        <th class="puregold">Puregold Price</th>
        <th class="shopmetro">ShopMetro Price</th>
        <th class="waltermart">WalterMart Price</th>
    </tr>

    {% for batch_identifier, data in favorite_products.items %}
    <tr data-batch-identifier="{{ batch_identifier }}">
        <td>
            <div style="display: inline-block; width: 40%; vertical-align: middle; text-align: center;">
                <img src="{{ data.image }}" alt="{{ data.title }}" style="width: 100%;" /><br>
                <div class="title-container">
                    {{ data.title }}
                </div>
            </div>
            <div style="display: inline-block; text-align: center; vertical-align: middle;">
                <button class="quantity-button minus">-</button>
                <span class="quantity" id="quantity_{{ batch_identifier }}">1</span>
                <button class="quantity-button plus">+</button>
                <i class="fa fa-trash remove-row" data-batch-identifier="{{ batch_identifier }}"></i>
            </div>
        </td>
        <td class="price-cell puregold" id="puregold_{{ batch_identifier }}">
            ₱<span class="price-value">{{ data.puregold_price }}</span>
        </td>
        <td class="price-cell shopmetro" id="shopmetro_{{ batch_identifier }}">
            ₱<span class="price-value">{{ data.shopmetro_price }}</span>
        </td>
        <td class="price-cell waltermart" id="waltermart_{{ batch_identifier }}">
            ₱<span class="price-value">{{ data.waltermart_price }}</span>
        </td>
    </tr>
    {% empty %}
    <tr>
        <td colspan="5">No favorite products added yet.</td>
    </tr>
    {% endfor %}
</table>





<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script>
    var csrf_token = "{{ csrf_token }}";
    var favorite_products = {};
    $(document).ready(function () {
        const rows = $('tr');

        const headers = {
            "X-CSRFToken": csrf_token
        };

        // Function to add the "tick" icon to the cell with the cheapest price
        function addTickMarks() {
            rows.each(function () {
                const cells = $(this).find('.price-cell');
                let minPrice = null;
                let minCell = null;
                cells.each(function () {
                    const priceValue = parseFloat($(this).find('.price-value').text().replace('₱', '').trim());
                    if (!isNaN(priceValue) && (minPrice === null || priceValue < minPrice)) {
                        minPrice = priceValue;
                        minCell = $(this);
                    }
                });
                cells.find('i').remove(); // Remove previous check icons
                if (minCell) {
                    minCell.append('<i class="fa fa-check" style="color: #3bb77e;"></i>');
                }
            });
        }

        // Add the "tick" icons upon page load
        addTickMarks();

        // Handle quantity changes and cell selection
        rows.each(function () {
            const quantityCell = $(this).find('.quantity');
            const minusButton = $(this).find('.minus');
            const plusButton = $(this).find('.plus');
            const priceCells = $(this).find('.price-cell');

            priceCells.on('click', function () {
                const rowIndex = $(this).closest('tr').index();
                const selectedCell = $(this);
                if (selectedCell.hasClass('selected')) {
                    // Deselect the clicked cell in the same row
                    selectedCell.removeClass('selected');
                } else {
                    // Deselect all cells in the same row
                    priceCells.removeClass('selected');
                    // Select the clicked cell in the same row
                    selectedCell.addClass('selected');
                }
                updateTotalPrice();
            });

            minusButton.on('click', function () {
                let quantity = parseInt(quantityCell.text(), 10);
                if (!isNaN(quantity) && quantity > 1) {
                    quantity--;
                    quantityCell.text(quantity);
                    updateTotalPrice();
                }
            });

            plusButton.on('click', function () {
                let quantity = parseInt(quantityCell.text(), 10);
                if (!isNaN(quantity)) {
                    quantity++;
                    quantityCell.text(quantity);
                    updateTotalPrice();
                }
            });
        });

        // Add this code inside your existing document ready function
        $('.remove-row').on('click', function () {
            const batchIdentifier = $(this).data('batch-identifier');
            console.log('Clicked remove icon for batchIdentifier:', batchIdentifier);

            // Show the confirmation modal when the trash can icon is clicked
            $('#confirmation-modal').show();

            // Handle the confirm button click
            $('#confirm-button').on('click', function () {
                // If the user confirms, remove the item
                $.ajax({
                    type: "POST",
                    url: "/remove-favorite/",
                    headers: headers,
                    data: {
                        batch_identifier: batchIdentifier,  // Send batch_identifier to the server
                    },
                    success: function (data) {
                        if (data.success) {
                            // If the server successfully removed the batch, remove the rows on the client side
                            console.log('Successfully removed batchIdentifier:', batchIdentifier);
                            $(`tr[data-batch-identifier="${batchIdentifier}"]`).remove();
                            // Update the JavaScript favorite_products object
                            delete favorite_products[batchIdentifier];
                            // Call the updateTotalPrice and updateColumnSums functions to update totals
                            updateTotalPrice();
                            updateColumnSums();
                        }
                    },
                    error: function () {
                        // Handle error here
                    }
                });
                // Hide the modal after confirming
                $('#confirmation-modal').hide();
            });

            // Handle the cancel button click
            $('#cancel-button').on('click', function () {
                // If the user cancels, simply hide the modal
                $('#confirmation-modal').hide();
            });
        });


        // Add a click event handler for the "Clear List" button
        $('#clear-list-button').on('click', function () {
            // Display the confirmation modal when the "Clear List" button is clicked
            $('#clear-list-modal').show();
        });

        // Handle the clear list confirm button click
        $('#clear-list-confirm-button').on('click', function () {
        // Send an AJAX request to remove all contents of the favorites collection
        $.ajax({
            type: "POST",
            url: "/clear-favorites/",
            headers: headers,
            success: function (data) {
                if (data.success) {
                    // If the server successfully cleared the favorites, remove all rows on the client side
                    $('tr').remove(); // Remove all table rows
                    // Display the "No favorite products added yet." message
                    $('table').append('<tr><td colspan="5">No favorite products added yet.</td></tr>');
                    // Clear the JavaScript favorite_products object
                    favorite_products = {};
                    // Call the updateTotalPrice and updateColumnSums functions to update totals
                    updateTotalPrice();
                    updateColumnSums();
                }
            },
            error: function () {
                // Handle error here
            }
        });
        // Hide the modal after confirming
        $('#clear-list-modal').hide();
    });

        // Handle the clear list cancel button click
        $('#clear-list-cancel-button').on('click', function () {
            // If the user cancels, simply hide the modal
            $('#clear-list-modal').hide();
        });



        function updateTotalPrice() {
            let totalPrice = 0.0;
            rows.each(function () {
                const selectedCell = $(this).find('.price-cell.selected');
                if (selectedCell.length > 0) {
                    const priceValue = parseFloat(selectedCell.find('.price-value').text().replace('₱', '').trim());
                    let quantity = parseInt($(this).find('.quantity').text(), 10);
                    if (!isNaN(priceValue) && !isNaN(quantity)) {
                        totalPrice += priceValue * quantity;
                    }
                }
            });
            $('#total-price').text('₱' + totalPrice.toFixed(2));

            // Call the updateColumnSums function whenever the total price updates
            updateColumnSums();
        }

        function updateColumnSums() {
            let puregoldSum = 0.0;
            let shopmetroSum = 0.0;
            let waltermartSum = 0.0;

            rows.each(function () {
                const selectedCell = $(this).find('.price-cell.selected');
                if (selectedCell.length > 0) {
                    const priceValue = parseFloat(selectedCell.find('.price-value').text().replace('₱', '').trim());
                    let quantity = parseInt($(this).find('.quantity').text(), 10);
                    if (!isNaN(priceValue) && !isNaN(quantity)) {
                        if (selectedCell.hasClass('puregold')) {
                            puregoldSum += (priceValue * quantity);
                        } else if (selectedCell.hasClass('shopmetro')) {
                            shopmetroSum += (priceValue * quantity);
                        } else if (selectedCell.hasClass('waltermart')) {
                            waltermartSum += (priceValue * quantity);
                        }
                    }
                }
            });

            $('#column-sum-puregold').text('₱' + puregoldSum.toFixed(2));
            $('#column-sum-shopmetro').text('₱' + shopmetroSum.toFixed(2));
            $('#column-sum-waltermart').text('₱' + waltermartSum.toFixed(2));
        }

        // Call the updateColumnSums function when the page loads
        updateColumnSums();


    });
</script>



<style>
    .price-cell.selected {
        border: 3px solid #3bb77e;
        padding: 4px; /* Add padding to make the border thicker on all sides */
    }
</style>
{% endblock %}
