{% extends "includes/base.html" %}
{% load static %}

{% block content %}

<main class="main pages">
    <div class="page-header breadcrumb-wrap">
        <div class="container">
            <div class="breadcrumb">
                <a href="index.html" rel="nofollow"><i class="fi-rs-home mr-5"></i>Home</a>
                <span></span> Pages
                <span></span> My Account
            </div>
        </div>
    </div>
    <div class="page-content pt-60 pb-60">
        <div class="container">
            <div class="row">
                <div class="col-lg-10 m-auto">
                    <div class="row">
                        <div class="col-md-3">
                            <div class="dashboard-menu">
                                <center><img src="{{ user_profile.profile_picture.url }}"
                                        style="width: 70%;height: 70%;" alt="Profile Picture"></center>

                                <form method="post" enctype="multipart/form-data"
                                    action="{% url 'auth_system:update-profile-picture' %}">
                                    {% csrf_token %}
                                    {{ form.as_p }}
                                    <center><button type="submit"
                                            style="height: 1%;width: 70%;font-size: 12px;margin-bottom: 10%;">Update
                                            Profile Picture</button></center>
                                </form>
                                <ul class="nav flex-column" role="tablist">
                                    <li class="nav-item">
                                        <a class="nav-link active" id="dashboard-tab" data-bs-toggle="tab"
                                            href="#dashboard" role="tab" aria-controls="dashboard"
                                            aria-selected="false">
                                            <i class="fi-rs-user mr-10"></i>Account Details</a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link" id="orders-tab" href="{% url 'auth_system:display_favorites' %}"
                                            role="tab" aria-controls="orders" aria-selected="false"><i
                                                class="fi-rs-shopping-bag mr-10"></i>Shopping List</a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link" id="track-orders-tab" data-bs-toggle="tab"
                                            href="#track-orders" role="tab" aria-controls="track-orders"
                                            aria-selected="false">
                                            <!-- <i class="fi-rs-shopping-cart-check mr-10"></i> -->
                                            Upvotes</a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link" id="address-tab" data-bs-toggle="tab" href="#address"
                                            role="tab" aria-controls="address" aria-selected="true">
                                            <!-- <i class="fi-rs-marker mr-10"></i> -->
                                            Downvotes</a>
                                    </li>
                                    <!-- <li class="nav-item">
                                        <a class="nav-link" id="account-detail-tab" data-bs-toggle="tab" href="#account-detail" role="tab" aria-controls="account-detail" aria-selected="true"><i class="fi-rs-user mr-10"></i>Account details</a>
                                    </li> -->
                                    <li class="nav-item">
                                        <a class="nav-link" href="{% url 'auth_system:logout' %}"><i
                                                class="fi-rs-sign-out mr-10"></i>Logout</a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <div class="col-md-9">
                            <div class="tab-content account dashboard-content pl-50">
                                <div class="tab-pane fade active show" id="dashboard" role="tabpanel"
                                    aria-labelledby="dashboard-tab">
                                    <div class="card">
                                        <div class="card-body">
                                            <div class="row">
                                                <h4>Account Details</h4>
                                                <hr>
                                                <div class="form-group col-md-6" style="margin-bottom: 5%;">
                                                    <label>First Name</label>
                                                    <h5>{{ user_profile.user.first_name }}</h5>
                                                </div>
                                                <div class="form-group col-md-6" style="margin-bottom: 5%;">
                                                    <label>Last Name</label>
                                                    <h5>{{ user_profile.user.last_name }}</h5>
                                                </div>
                                                <br>
                                                <div class="form-group col-md-6" style="margin-bottom: 8%;">
                                                    <label>Email Address</label>
                                                    <h5>{{ user_profile.user.email }}</h5>
                                                </div>
                                                <br>
                                                <h4>Personal Details</h4>
                                                <hr>
                                                <div class="row">
                                                    <div class="form-group col-md-6" style="margin-bottom: 5%;">
                                                        <label>Display Name</label>
                                                        <h5>{{ user_profile.user.username }}</h5>
                                                    </div>
                                                    <div class="form-group col-md-6" style="margin-bottom: 5%;">
                                                        <label>Gender</label>
                                                        <h5>{{ user_profile.gender }}</h5>
                                                    </div>
                                                </div>
                                                <br>
                                                <div class="row">
                                                    <div class="form-group col-md-6" style="margin-bottom: 5%;">
                                                        <label>Birthday</label>
                                                        <h5>{{ user_profile.birthday }}</h5>
                                                    </div>
                                                    <div class="form-group col-md-6" style="margin-bottom: 5%;">
                                                        <label>Age</label>
                                                        <h5>{{ user_profile.age }}</h5>
                                                    </div>
                                                </div>
                                                <br>
                                                <div class="form-group col-md-6" style="margin-bottom: 5%;">
                                                    <label>Purpose</label>
                                                    <h5>{{ user_profile.purpose }}</h5>
                                                </div>




                                                <!-- FOR PASSWORDS -->
                                                <!-- <div class="form-group col-md-12">
                                                    <label>Current Password <span class="required"></span></label>
                                                    <h5 class="form-control" name="password" type="password">
                                                </div>
                                                <div class="form-group col-md-12">
                                                    <label>New Password <span class="required"></span></label>
                                                    <h5 class="form-control" name="npassword" type="password">
                                                </div>
                                                <div class="form-group col-md-12">
                                                    <label>Confirm Password <span class="required"></span></label>
                                                    <h5 class="form-control" name="cpassword" type="password">
                                                </div> -->
                                                <!-- <div class="col-md-12">
                                                    <button type="submit" class="btn btn-fill-out submit font-weight-bold" name="submit" value="Submit">Save Change</button>
                                                </div> -->
                                            </div>
                                            <!-- <form method="post" name="enq">                                                
                                            </form> -->
                                        </div>
                                    </div>
                                </div>
                                <div class="tab-pane fade" id="orders" role="tabpanel" aria-labelledby="orders-tab">
                                    <div class="card">
                                        <div class="card-header">
                                            <h3 class="mb-0">Your Favorites</h3>
                                        </div>
                                        <!-- <div class="card-body">
                                            <div class="table-responsive">
                                                <table class="table">
                                                    <thead>
                                                        <tr>
                                                            <th>Order</th>
                                                            <th>Date</th>
                                                            <th>Status</th>
                                                            <th>Total</th>
                                                            <th>Actions</th>
                                                        </tr>
                                                    </thead>
                                                    <tbody>
                                                        <tr>
                                                            <td>#1357</td>
                                                            <td>March 45, 2020</td>
                                                            <td>Processing</td>
                                                            <td>$125.00 for 2 item</td>
                                                            <td><a href="#" class="btn-small d-block">View</a></td>
                                                        </tr>
                                                        <tr>
                                                            <td>#2468</td>
                                                            <td>June 29, 2020</td>
                                                            <td>Completed</td>
                                                            <td>$364.00 for 5 item</td>
                                                            <td><a href="#" class="btn-small d-block">View</a></td>
                                                        </tr>
                                                        <tr>
                                                            <td>#2366</td>
                                                            <td>August 02, 2020</td>
                                                            <td>Completed</td>
                                                            <td>$280.00 for 3 item</td>
                                                            <td><a href="#" class="btn-small d-block">View</a></td>
                                                        </tr>
                                                    </tbody>
                                                </table>
                                            </div>
                                        </div> -->
                                    </div>
                                </div>
                                <div class="tab-pane fade" id="track-orders" role="tabpanel"
                                    aria-labelledby="track-orders-tab">
                                    <div class="card">
                                        <div class="card-header">
                                            <h3 class="mb-0">Upvotes</h3>
                                        </div>

                                        <ul>
                                            {% if liked_products %}
                                                {% for product in liked_products %}
                                                    <img class="default-img" src="{{ product.image }}" alt="{{ product.title }}" style="width: 20%;">
                                                    <li>{{ product.title }}</li>
                                                    <li>{{ product.original_price }}</li>
                                                {% endfor %}<br>
                                            {% else %}
                                                <li>No liked products yet.</li>
                                            {% endif %}
                                        </ul>
                                        <!-- <div class="card-body contact-from-area">
                                            <p>To track your order please enter your OrderID in the box below and press "Track" button. This was given to you on your receipt and in the confirmation email you should have received.</p>
                                            <div class="row">
                                                <div class="col-lg-8">
                                                    <form class="contact-form-style mt-30 mb-50" action="#" method="post">
                                                        <div class="input-style mb-20">
                                                            <label>Order ID</label>
                                                            <input name="order-id" placeholder="Found in your order confirmation email" type="text">
                                                        </div>
                                                        <div class="input-style mb-20">
                                                            <label>Billing email</label>
                                                            <input name="billing-email" placeholder="Email you used during checkout" type="email">
                                                        </div>
                                                        <button class="submit submit-auto-width" type="submit">Track</button>
                                                    </form>
                                                </div>
                                            </div>
                                        </div> -->
                                    </div>
                                </div>
                                <div class="tab-pane fade" id="address" role="tabpanel" aria-labelledby="address-tab">
                                    <div class="card">
                                        <div class="card-header">
                                            <h3 class="mb-0">Downvotes</h3>
                                        </div>

                                        <ul>
                                            {% if disliked_products %}
                                                {% for product in disliked_products %}
                                                    <img class="default-img" src="{{ product.image }}" alt="{{ product.title }}" style="width: 20%;">
                                                    <li>{{ product.title }}</li>
                                                    <li>{{ product.original_price }}</li>
                                                {% endfor %}<br>
                                            {% else %}
                                                <li>No disliked products yet.</li>
                                            {% endif %}
                                        </ul>
                                        <!-- <div class="row">
                                        <div class="col-lg-6">
                                            <div class="card mb-3 mb-lg-0">
                                                <div class="card-header">
                                                    <h3 class="mb-0">Downvotes</h3>
                                                </div>
                                                <div class="card-body">
                                                    <address>3522 Interstate<br> 75 Business Spur,<br> Sault Ste. <br>Marie, MI 49783</address>
                                                    <p>New York</p>
                                                    <a href="#" class="btn-small">Edit</a>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-lg-6">
                                            <div class="card">
                                                <div class="card-header">
                                                    <h5 class="mb-0">Shipping Address</h5>
                                                </div>
                                                <div class="card-body">
                                                    <address>4299 Express Lane<br>
                                                        Sarasota, <br>FL 34249 USA <br>Phone: 1.941.227.4444</address>
                                                    <p>Sarasota</p>
                                                    <a href="#" class="btn-small">Edit</a>
                                                </div>
                                            </div>
                                        </div>
                                    </div> -->
                                    </div>
                                </div>
                                <!-- <div class="tab-pane fade" id="account-detail" role="tabpanel" aria-labelledby="account-detail-tab">
                                    <div class="card">
                                        <div class="card-header">
                                            <h5>Account Details</h5>
                                        </div>
                                        <div class="card-body">
                                            <p>Already have an account? <a href="page-login.html">Log in instead!</a></p>
                                            <form method="post" name="enq">
                                                <div class="row">
                                                    <div class="form-group col-md-6">
                                                        <label>First Name <span class="required">*</span></label>
                                                        <input required="" class="form-control" name="name" type="text">
                                                    </div>
                                                    <div class="form-group col-md-6">
                                                        <label>Last Name <span class="required">*</span></label>
                                                        <input required="" class="form-control" name="phone">
                                                    </div>
                                                    <div class="form-group col-md-12">
                                                        <label>Display Name <span class="required">*</span></label>
                                                        <input required="" class="form-control" name="dname" type="text">
                                                    </div>
                                                    <div class="form-group col-md-12">
                                                        <label>Email Address <span class="required">*</span></label>
                                                        <input required="" class="form-control" name="email" type="email">
                                                    </div>
                                                    <div class="form-group col-md-12">
                                                        <label>Current Password <span class="required">*</span></label>
                                                        <input required="" class="form-control" name="password" type="password">
                                                    </div>
                                                    <div class="form-group col-md-12">
                                                        <label>New Password <span class="required">*</span></label>
                                                        <input required="" class="form-control" name="npassword" type="password">
                                                    </div>
                                                    <div class="form-group col-md-12">
                                                        <label>Confirm Password <span class="required">*</span></label>
                                                        <input required="" class="form-control" name="cpassword" type="password">
                                                    </div>
                                                    <div class="col-md-12">
                                                        <button type="submit" class="btn btn-fill-out submit font-weight-bold" name="submit" value="Submit">Save Change</button>
                                                    </div>
                                                </div>
                                            </form>
                                        </div>
                                    </div>
                                </div> -->
                                <div class="col-md-12">
                                    <a class="btn btn-fill-out submit font-weight-bold">Edit Details</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>



{% endblock %}