{% extends "includes/base.html" %} 
{% load static %}



{% block content %} 


<div class="page-header mt-30 mb-50">
    <div class="container">
        <div class="archive-header">
            <div class="row align-items-center">
                <div class="col-xl-4">
                    <h1 class="mb-15">All {{ category }} in {{ supermarket }}</h1>
                    <div class="breadcrumb">
                        <a href="{% url 'home:home' %}" rel="nofollow"><i class="fi-rs-home mr-5"></i>Home</a>
                        <span></span> {{ supermarket }}
                        <span></span> {{ category }}
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="container mb-30">
    <div class="row">
        <div class="col-lg-4-5">
            <div class="shop-product-fillter">
                <div class="section-title style-2">
                    <h1>Products in {{ category }}</h1>
                </div>

                <div class="sort-by-product-area">
                    <div class="sort-by-cover mr-10">
                        <p>We found <strong class="text-brand"> {{ total_products }}</strong> items for you!</p>

                    </div>
                    <button class="btn btn-sm btn-default"  onclick="clearFilters()" ><i class="fi-rs-filter mr-5"></i> Clear Filter</button>


                    <div class="sort-by-cover">
                        <div class="sort-by-product-wrap">
                            <div class="sort-by">
                                <span><i class="fi-rs-apps-sort"></i>Sort by:</span>
                            </div>
                            <div class="sort-by-dropdown-wrap">
                                <span>  <i class="fi-rs-angle-small-down"></i></span>
                            </div>
                        </div>
                        <div class="sort-by-dropdown">
                            <ul>
                                <li><a class="{% if sort_option == 'default' %}active{% endif %}" href="?sort=default{% if min_price %}&min_price={{ min_price }}{% endif %}{% if max_price %}&max_price={{ max_price }}{% endif %}{% if selected_supermarket %}&supermarket={{ selected_supermarket }}{% endif %}">Default</a></li>
                                <li><a class="{% if sort_option == 'price_low_to_high' %}active{% endif %}" href="?sort=price_low_to_high{% if min_price %}&min_price={{ min_price }}{% endif %}{% if max_price %}&max_price={{ max_price }}{% endif %}{% if selected_supermarket %}&supermarket={{ selected_supermarket }}{% endif %}">Price: Low to High</a></li>
                                <li><a class="{% if sort_option == 'price_high_to_low' %}active{% endif %}" href="?sort=price_high_to_low{% if min_price %}&min_price={{ min_price }}{% endif %}{% if max_price %}&max_price={{ max_price }}{% endif %}{% if selected_supermarket %}&supermarket={{ selected_supermarket }}{% endif %}">Price: High to Low</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
                    
                

            </div>

           

            

            <div class="row product-grid-4">
                {% for product in product_page %}
                <div class="col-lg-1-5 col-md-4 col-12 col-sm-6">
                    <div class="product-cart-wrap mb-30">
                         <!-- animation -->
                        <div class="product-img-action-wrap">
                            <div class="product-img product-img-zoom">
                                <a href="{% url 'home:product_detail' product.id %}">
                                    <img class="default-img" src="{{ product.image }}" alt="{{ product.title }}">
                                </a>
                            </div>


                           <!-- Floating buttons -->
                            <div class="product-action-1">
                                <a aria-label="Add To Wishlist" class="action-btn" href="#"><i class="fi-rs-heart"></i></a>
                                
                                <!-- Functioning button -->
                                <a aria-label="Compare" class="action-btn" onclick="openCompareModal('{{ product.id }}')" data-product-id="{{ product.id }}"><i class="fi-rs-shuffle"></i></a>
                                <a aria-label="Quick view" class="action-btn" onclick="openQuickViewModal('{{ product.id }}')" data-product-id="{{ product.id }}" ><i class="fi-rs-eye"></i></a>
                            </div>

                            
                            <!-- modal -->
                            <!-- Add an empty modal container with an ID -->
                            <div id="compareModalContainer">
                                
                            </div>
                            {% include 'supermarket/compare_modal.html' with product=product product_id=product.id %}

                            <!-- quickview -->
                            <div id="quickviewModalContainer">
                                                    
                            </div>
                            {% include 'supermarket/quickview_modal.html' with product=product product_id=product.id %}




                            {% if product.discounted_price %}
                            <div class="product-badges product-badges-position product-badges-mrg">
                                <span class="sale">Sale</span>
                            </div>
                            {% endif %}
                            
                        </div>
                        <!-- product content -->
                        <div class="product-content-wrap">
                            <div class="product-category">
                                <a href="#">{{ category }}</a>
                            </div>
                            <h2><a href="{% url 'home:product_detail' product.id %}">{{ product.title }}</a></h2>
                            <div class="product-rate-cover" style="display: flex; justify-content: space-between;">
                                <label class="fw-900 mt-15">
                                    <img style="height: 20px; width: 20px;" src="{% static 'icons/icon_like.png' %}"> {{ product.like_count }}
                                </label>
                                <label class="fw-900 mt-15" style="align-self: flex-end;">
                                    <img style="height: 20px; width: 20px;" src="{% static 'icons/icon_dislike.png' %}"> {{ product.dislike_count }}
                                </label>
                            </div>
                            <div class="product-supermarket">
                                <a href="#">{{ supermarket }}</a>
                            </div>
                            
                            
                            <div class="product-card-bottom">
                                <div class="product-price">
                                    {% if product.discounted_price %}
                                    <span>{{ product.discounted_price }}</span>
                                    {% if product.original_price %}
                                        <span class="old-price">{{ product.original_price }}</span>
                                    {% else %}
                                        <span class="old-price"></span>
                                    {% endif %}
                                    {% else %}
                                    <span>{{ product.original_price }}</span>
                                    <span class="old-price"></span>
                                    {% endif %}
                                </div>
                                <div class="add-cart">
                                    <a class="add" href="shop-cart.html"><i class="fi-rs-shopping-cart mr-5"></i>Add </a>
                                </div>
                                
                            </div>
                        </div>

                    </div>
                </div>
              
               
                {% endfor %}
            </div>

            <!-- Product pagination -->
            <div class="pagination-area mt-20 mb-20">
                <nav aria-label="Page navigation example">
                  <ul class="pagination justify-content-start">
                    {% if product_page.has_previous %}
                      <li class="page-item"><a class="page-link" href="?page=1{% if sort_option %}&sort={{ sort_option }}{% endif %}{% if min_price %}&min_price={{ min_price }}{% endif %}{% if max_price %}&max_price={{ max_price }}{% endif %}{% if selected_supermarket %}&supermarket={{ selected_supermarket }}{% endif %}">&laquo;</a></li>
                      <li class="page-item"><a class="page-link" href="?page={{ product_page.previous_page_number }}{% if sort_option %}&sort={{ sort_option }}{% endif %}{% if min_price %}&min_price={{ min_price }}{% endif %}{% if max_price %}&max_price={{ max_price }}{% endif %}{% if selected_supermarket %}&supermarket={{ selected_supermarket }}{% endif %}"><</a></li>
                    {% endif %}

                    {% if product_page.number > 4 %}
                      <li class="page-item"><a class="page-link" href="?page=1{% if sort_option %}&sort={{ sort_option }}{% endif %}{% if min_price %}&min_price={{ min_price }}{% endif %}{% if max_price %}&max_price={{ max_price }}{% endif %}{% if selected_supermarket %}&supermarket={{ selected_supermarket }}{% endif %}">1</a></li>
                      <li class="page-item disabled"><a class="page-link">...</a></li>
                    {% endif %}

                    {% for i in product_page.paginator.page_range %}
                      {% if i == product_page.number %}
                        <li class="page-item active"><a class="page-link" href="?page={{ i }}{% if sort_option %}&sort={{ sort_option }}{% endif %}{% if min_price %}&min_price={{ min_price }}{% endif %}{% if max_price %}&max_price={{ max_price }}{% endif %}{% if selected_supermarket %}&supermarket={{ selected_supermarket }}{% endif %}">{{ i }}</a></li>
                      {% elif i > product_page.number|add:"-3"|default:0 and i <= product_page.number|add:"3" and i <= product_page.paginator.num_pages %}
                        <li class="page-item"><a class="page-link" href="?page={{ i }}{% if sort_option %}&sort={{ sort_option }}{% endif %}{% if min_price %}&min_price={{ min_price }}{% endif %}{% if max_price %}&max_price={{ max_price }}{% endif %}{% if selected_supermarket %}&supermarket={{ selected_supermarket }}{% endif %}">{{ i }}</a></li>
                      {% endif %}
                    {% endfor %}
                    {% if product_page.number < product_page.paginator.num_pages|add:"-5" %}
                      <li class="page-item disabled"><a class="page-link">...</a></li>
                      <li class="page-item"><a class="page-link" href="?page={{ product_page.paginator.num_pages }}{% if sort_option %}&sort={{ sort_option }}{% endif %}{% if min_price %}&min_price={{ min_price }}{% endif %}{% if max_price %}&max_price={{ max_price }}{% endif %}{% if selected_supermarket %}&supermarket={{ selected_supermarket }}{% endif %}">{{ product_page.paginator.num_pages }}</a></li>
                    {% endif %}
                    
                    {% if product_page.has_next %}
                      <li class="page-item"><a class="page-link" href="?page={{ product_page.next_page_number }}{% if sort_option %}&sort={{ sort_option }}{% endif %}{% if min_price %}&min_price={{ min_price }}{% endif %}{% if max_price %}&max_price={{ max_price }}{% endif %}{% if selected_supermarket %}&supermarket={{ selected_supermarket }}{% endif %}">></a></li>
                      <li class="page-item"><a class="page-link" href="?page={{ product_page.paginator.num_pages }}{% if sort_option %}&sort={{ sort_option }}{% endif %}{% if min_price %}&min_price={{ min_price }}{% endif %}{% if max_price %}&max_price={{ max_price }}{% endif %}{% if selected_supermarket %}&supermarket={{ selected_supermarket }}{% endif %}">&raquo;</a></li>
                    {% endif %}
                  </ul>
                </nav>
              </div>

             
        </div>
        


        <!-- Sidebar content here -->
        <!-- Category -->
        <div class="col-lg-1-5 primary-sidebar sticky-sidebar pt-30">
            <div class="sidebar-widget widget-category-2 mb-30">
                <h5 class="section-title style-1 mb-30 wow fadeIn animated">Category</h5>
               
                <ul>
                    <li> <a href="{% url 'supermarket:supermarket_category' supermarket_name=supermarket category_name='Canned Goods' %}"> <img src="{% static 'imgs/theme/icons/cannedfood.png' %}" alt="">Canned Goods</a><span class="count">{{ category_counts.Canned_Goods }}</span></li>
                    <li> <a href="{% url 'supermarket:supermarket_category' supermarket_name=supermarket category_name='Milk' %}"> <img src="{% static 'imgs/theme/icons/milk.png' %}" alt="">Milk</a><span class="count">{{ category_counts.Milk }}</span></li>
                    <li> <a href="{% url 'supermarket:supermarket_category' supermarket_name=supermarket category_name='Coffee' %}"> <img src="{% static 'imgs/theme/icons/coffee.png' %}" alt="">Coffee</a><span class="count">{{ category_counts.Coffee }}</span></li>
                    <li> <a href="{% url 'supermarket:supermarket_category' supermarket_name=supermarket category_name='Bread' %}"> <img src="{% static 'imgs/theme/icons/bread.png' %}" alt="">Bread</a><span class="count">{{ category_counts.Bread }}</span></li>
                    <li> <a href="{% url 'supermarket:supermarket_category' supermarket_name=supermarket category_name='Candle' %}"> <img src="{% static 'imgs/theme/icons/candles.png' %}" alt="">Candles</a><span class="count">{{ category_counts.Candle }}</span></li>
                    <li> <a href="{% url 'supermarket:supermarket_category' supermarket_name=supermarket category_name='Water' %}"> <img src="{% static 'imgs/theme/icons/water.png' %}" alt="">Water/Mineral</a><span class="count">{{ category_counts.Water }}</span></li>
                    <li> <a href="{% url 'supermarket:supermarket_category' supermarket_name=supermarket category_name='Vinegar' %}"> <img src="{% static 'imgs/theme/icons/vinegar.png' %}" alt="">Vinegar</a><span class="count">{{ category_counts.Vinegar }}</span></li>
                    <li> <a href="{% url 'supermarket:supermarket_category' supermarket_name=supermarket category_name='Soy Sauce' %}"> <img src="{% static 'imgs/theme/icons/soysauce.png' %}" alt="">Soy Sauce</a><span class="count">{{ category_counts.Soy_Sauce }}</span></li>
                    <li> <a href="{% url 'supermarket:supermarket_category' supermarket_name=supermarket category_name='Fish Sauce' %}"> <img src="{% static 'imgs/theme/icons/fishsauce.png' %}" alt="">Fish Sauce</a><span class="count">{{ category_counts.Fish_Sauce }}</span></li>
                    <li> <a href="{% url 'supermarket:supermarket_category' supermarket_name=supermarket category_name='Noodles' %}"> <img src="{% static 'imgs/theme/icons/noodle.png' %}" alt="">Noodles</a><span class="count">{{ category_counts.Noodles }}</span></li>
                    <li> <a href="{% url 'supermarket:supermarket_category' supermarket_name=supermarket category_name='Laundry Aids' %}"> <img src="{% static 'imgs/theme/icons/laundry.png' %}" alt="">Laundry Aids</a><span class="count">{{ category_counts.Laundry_Aids }}</span></li>
                </ul>
            </div>

            <!-- Fillter By Price -->
            <div class="sidebar-widget price_range range mb-30">
                <h5 class="section-title style-1 mb-30 wow fadeIn animated">Filter by price</h5>
                <form method="GET" action="">
                    <label for="min-price">Minimum Price:</label>
                    <input type="number" id="min-price" name="min_price" min="0" value="{{ min_price }}">
                    <label for="max-price">Maximum Price:</label>
                    <input type="number" id="max-price" name="max_price" value="{{ max_price }}">
                    <!-- Include sort_option, selected_supermarket, min_price, and max_price in the form action -->
                    <input type="hidden" name="sort" value="{{ sort_option }}">
                    <input type="hidden" name="supermarket" value="{{ selected_supermarket }}">
                    <button type="submit"  class="btn btn-sm btn-default" style="margin-top: 10px;"><i class="fi-rs-filter mr-5"></i>Filter</button>
                </form>
            </div>

            <div class="sidebar-widget mb-30">
                <h5 class="section-title style-1 mb-30 wow fadeIn animated">Filter by Upvote and Downvote</h5>
                <form action="{% url 'supermarket:supermarket_category' supermarket_name=supermarket category_name=category_name %}" method="get" >
                <div class=" sort-by-cover">

                    <select name="sort">
                        <option value="">Default Sorting</option>
                        <option value="likes">Sort by Highest Likes</option>
                        <option value="dislikes">Sort by Highest Dislikes</option>
                    </select>
                    <br><br>
                    <button type="submit" class="btn btn-sm btn-default" style="margin-top: 10px;"><i class="fi-rs-filter mr-5"></i>Sort</button>
                </form>
            </div>
            </div> 

        </div>

            
    </div>
</div>



{% endblock %}


